<!doctype html>
<html>
    <head>
        <title>IV CS sandbox</title>
        <% if (vite.devHost) { %>
            <%- include('partials/vite-dev-server') -%>
        <% } %>

    </head>
    <body>
        <div id="react-root"></div>
    </body>
</html>

