<!doctype html>
<html>
    <head>
        <title>IV CS sandbox</title>
        <% if (vite.devHost) { %>
            <%- include('partials/vite-dev-server') -%>
        <% } else { %>
            <script type="module" src="/<%= vite.manifest[appEntry].file %>"></script>
            <link rel="stylesheet" href="/<%= vite.manifest['index.css'].file %>">
        <% } %>

    </head>
    <body>
        <div id="react-root"></div>
    </body>
</html>

