<!doctype html>
<html>
    <head>
        <title>IV CS sandbox</title>
        <script type="module" src="http://localhost:5173/@vite/client"></script>
        <script type="module" src="http://localhost:5173/src/index.tsx"></script>
    </head>
    <body>
        <div id="react-root"></div>
        !!!!
    </body>
</html>

