.main-page {
    @apply
        h-screen
        bg-white;
}

.main-page__container {
    @apply 
        container 
        m-auto 
        grid 
        max-w-screen-2xl 
        grid-cols-12;
}

.main-page__upload {
    @apply 
        col-span-full 
        m-4 
        h-min 
        rounded 
        border 
        border-gray-200 
        bg-white 
        p-4 md:order-last 
        md:col-span-4 
        md:mr-8;
}

.main-page__documents {
    @apply 
        col-span-full 
        m-4 
        min-w-fit 
        rounded 
        border 
        border-gray-200 
        bg-white 
        md:col-span-8 
        md:ml-8;
}

.upload__title {
    @apply 
        mb-6 
        text-lg 
        font-medium;
}

.upload__input {
    @apply 
        mb-4 
        block 
        h-10 
        w-full 
        cursor-pointer 
        items-center 
        rounded 
        border 
        border-gray-300 
        bg-gray-50 
        p-1 
        text-gray-500 
        hover:bg-gray-100 
        focus:outline-none;
}

.upload__select {
    @apply 
        mb-6 
        block 
        h-10 
        w-full 
        cursor-pointer 
        rounded 
        border 
        border-gray-300 
        bg-gray-50 
        px-2 
        py-1.5 
        hover:bg-gray-100 
        focus:outline-none;
}

.upload__button {
    @apply 
        h-10 
        w-full 
        rounded 
        bg-blue-700 
        px-2.5 py-1.5 
        text-white 
        hover:bg-blue-600 
        focus:outline-none;
}



.document-card {
    @apply 
        flex 
        cursor-pointer 
        items-center 
        gap-4 
        p-4 
        hover:bg-gray-50;
}

.document-card__name-and-badge {
    @apply 
        flex 
        h-6 
        w-full 
        gap-2;
}

.document-card__badge {
    @apply 
        flex-none 
        sm:order-last;
}

.document-card__badge--failed {
    @apply 
        rounded-md 
        bg-red-50 
        px-2 
        py-1 
        text-xs 
        font-medium 
        text-red-700 
        ring-1 
        ring-inset 
        ring-red-600/10
}

.document-card__badge--inProgress {
    @apply 
        rounded-md 
        bg-gray-50 
        px-2 
        py-1 
        text-xs 
        font-medium 
        not-italic 
        text-gray-600 
        ring-1 
        ring-inset 
        ring-gray-500/10
}

.document-card__badge--finished {
    @apply hidden
}


.document-card__name {
    @apply 
        flex-grow 
        overflow-hidden 
        text-ellipsis;
}

.document-card__name--failed {
    @apply text-red-900
}

.document-card__name--inProgress {
    @apply text-gray-500 italic
}

.document-card__name--finished {
    @apply font-medium
}


.document-card__source-button {
    @apply 
        flex 
        flex-none 
        items-center 
        rounded 
        bg-white 
        hover:bg-gray-100 
        text-gray-400 
        text-sm 
        hover:text-gray-800 
        leading-5 
        p-2.5 
        gap-1;
}

.document-card__source-button-text {
    @apply hidden sm:block;
}

.document-card__delete-button {
    @apply 
        flex-none 
        items-center 
        rounded 
        bg-white 
        p-2.5 
        leading-5 
        text-gray-400 
        hover:bg-gray-100 
        hover:text-gray-800;
}
